body {
  background-color: orange;
}

#road {
  border-bottom: 7px dashed black;
}

/* #runner {
  background: url('https://openclipart.org/image/2400px/svg_to_png/301221/1525205509.png');
  width: 296px;
  height: 600px;
  animation: walk 1s steps(8) infinite, move-forwards 5s linear infinite;
}

@keyframes walk {
  0% {
    background-position: 0px; 
  }
  100% {
    background-position: 2369px;
  }
}

@keyframes move-forwards {
  0% {
    transform:  translateX(-296px);
  }
  100% {
    transform: translateX(1600px);
  }
} */

#runner {
  background: url(https://ya-webdesign.com/images/create-animated-png-19.png);
  width: 260px;
  height: 250px;
  animation: walk 1s steps(6) infinite, move-forwards 5s linear infinite;
}

@keyframes walk {
  0% {
    background-position: 0px;
  }
  100% {
      background-position: 1536px;
  }
}

@keyframes move-forwards {
  0% {
    transform: translateX(-296px);
    }

    100% {
        transform: translateX(1600px);
    }
}